@import '../../styles/variables';
@import '../../styles/global.scss';

.hero{    
     display: flex;
  align-items: center;
  gap: 1.5rem;
background-color: $moon-purple;
 padding: 1rem;

    .nomePerfil{
        font-size: 50px;   
        position: relative;    
        z-index: 2;
        color: $moon-light;

    }

.perfilGabi {
    width: 15vw;
    border-radius: 12px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.perfilGabi:hover {
    box-shadow:
        0 0 15px rgba(255, 255, 255, 0.4),
        0 0 30px rgba(180, 130, 255, 0.6);
    transform: translateY(-6px);
}

.descricaoPerfil{
    color: $moon-light;

}

    
    .hero_button button {
    background-color: $moon-light;
    color: $moon-deep;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
}
}