$moon-light: #F5D5E0;
$moon-blue:  #6667AB;
$moon-purple:#7B337E;
$moon-dark:  #420D4B;
$moon-deep:  #210635;

$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-condensed: 'Roboto Condensed', sans-serif;
