/*$moon-light: #F5D5E0;
$moon-blue:  #6667AB;
$moon-purple:#7B337E;
$moon-dark:  #420D4B;
$moon-deep:  #210635;*/

$moon-light: #FBD794;  // Creased Khaki (claro, fundo / destaque suave)
$moon-blue:  #809076;  // Wasabi (apoio, secundário)
$moon-purple:#BB6B30;  // Egyptian Earth (accent quente)
$moon-dark:  #284139;  // Emerald Green (base principal)
$moon-deep:  #111A19;  // Noir de Vigne (deep / background escuro)

/*$moon-light: #B8B3B1;  // Philippine Silver (claro / superfícies)
$moon-blue:  #716361;  // Granite Gray (neutro de apoio)
$moon-purple:#5D4459;  // Eggplant (accent elegante)
$moon-dark:  #362F32;  // Dark Charcoal (base principal)
$moon-deep:  #586144;  // Ebony (profundo, orgânico)*/


$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-condensed: 'Roboto Condensed', sans-serif;
