@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: $font-primary;
  background-color: $moon-light;
  background: linear-gradient(300deg, #FBD794,#BB6B30, #284139);
}
