@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: $font-primary;
  background-color: $moon-light;
  //background: linear-gradient(180deg, #6667AB,#F5D5E0, #7B337E);
  //background: linear-gradient(180deg, #420D4B, #210635);  
}
