@import "../../styles/variables";
@import "../../styles/global.scss";

.Trajectory {
    padding: 20px;

    .titulo {
        font-size: 54px;
        text-align: center;
        color: $moon-deep;
        margin-bottom: 40px;
    }

    .academico,
    .trabalho {
        background-color: $moon-deep;
        border-radius: 12px;
        color: $moon-light;
        padding: 20px;
        margin: 0 auto 40px;
        width: 90%;
    }

    .titulo_card,
    .descricao_card,
    .titulo_escolar,
    .titulo_profissional
     {
        text-align: center;
        margin-bottom: 12px;
    }

    //card academico
    .cardAcademico,
    .cardProfissional {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: stretch;
    }

    .ensinoMedio,
    .faculdadeInfnet,
    .faculdadeUnisuam {
        background-color: $moon-purple;
        border-radius: 12px;
        height: 30%;
        width: auto;
       
    }

    .emgepron,
    .ntlTecnologia,
    .cieds {
        background-color: $moon-purple;
        border-radius: 12px;
        height: 30%;
       

    }

    @media (max-width: 768px) {
  .cardAcademico,
  .cardProfissional {
    flex-direction: column;
  }
}

}
